*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    line-height: 1;
    font-weight: 400;
    background-color: #29292a;
    font-family: Lora, Arial, Helvetica, sans-serif;
}
/*
#################################################
N A V B A R - S E C T I O N
#################################################
*/
header{
    flex-wrap: wrap;
    display: flex !important;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5REM !important;
    background-color: rgba(11,11,11,0.23);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgb(0,0,0);
    border-bottom-right-radius: 20px;
}
a{
    text-decoration: none;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
    font-family: "Noto Sans TC";
    letter-spacing: 2px;
    display: inline-block;
}
.nav-area li a:hover{
    color: #d22938;
}
/*
#################################################
N E W S L E T T E R - S E C T I O N
#################################################
*/
#main-contact{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #29292a;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    color: #aaa9a9;
    line-height: 1.69;
    font-size: 17px;
}
@media(max-width:1090px){
    #main-contact{
        padding: 80px 3%;
        transform: .2s;

    }
}
@media(max-width:1570px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}
@media(max-width:1090px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }
    .contact-img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}
section{
    padding: 40px, 15%;
}
.contact{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background:#29292a;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-form{
    position: relative;
}
.contact-form form input, form textarea{
    background: rgba(44, 51, 57, 0.7);
    border: 2px solid #68645b;
    border-radius: 24px;
    padding: 24px 20px;
    margin: 5px auto 20px;
    font-size: 16px;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #e0d9d3;
    max-width: 450px;
    display: block;
    max-width: 100%;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-header{
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    color: #68645b;
    font-size: 40px;

}
.small-text{
    color: #68645b;
    opacity: 0.8;
    letter-spacing: 2px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contact-img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 15px;
}
.submit-btn{
    display: inline-block;
    background: rgba(44, 51, 57, 0.7);
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #68645b;
    transition: ease .20s;
    cursor: pointer;
}
.submit-btn:hover{
    border: 2px solid #68645b;
    background: transparent;
    transform: scale(1.1);

}
/*
#################################################
F O O T E R - S E C T I O N 
#################################################
*/
#border-break{
    background-size: 500% 500%;
    opacity: 100;
    height: 3px;
    background: var(--rainbow-gradient);
    display: flex;
}
.fusion-footer {
    border-bottom: 0px;
    border-image-source: linear-gradient(to right, #726e65, #726e65, #c5bfae, #726e65, #726e65);
    border-image-slice: 20;
    border-top: 5px solid #726e65;
    border-left: 0px;
    border-right: 0px;
}
.fusion-footer-widget-area {
    background-color: #2c3339;
    border-color: #2c3339;
    border-top-width: 12px;
    padding-top: 60px;
    padding-bottom: 55px;
}
.fusion-footer-widget-area {
    position: relative;
    padding: 43px 10px 40px;
    border-top: 12px solid #e9eaee;
    border-top-color: rgb(233, 234, 238);
    border-top-width: 12px;
    background: #363839;
    background-color: rgb(54, 56, 57);
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 1.69;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: #726d63;
}
.fusion-row {
    margin: 0 auto;
    zoom: 1;
}
.footer-monogram{
    height: 80px !important;
    width: auto;
    float: right !important;
}
.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #726d63;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}


