*,
*::before,
*::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	min-height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: rgb(23, 23, 23);
}
html{
    scroll-behavior: smooth;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
/*
#################################################
N A V B A R - S E C T I O N
#################################################
*/
header{
    flex-wrap: wrap;
    display: flex !important;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5REM !important;
    background-color: rgba(11,11,11,0.23);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgb(0,0,0);
    border-bottom-right-radius: 20px;
}
a{
    text-decoration: none;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
    font-family: "Noto Sans TC";
    letter-spacing: 2px;
    display: inline-block;
}
.nav-area li a:hover{
    color: #d22938;
}
/*
#################################################
H O M E - S E C T I O N
#################################################
*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(books.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    height: 874px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-size: 2.5rem;
    margin: 40px 0px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}
.headings br {
	display: block;
}
/*
#################################################
A B O U T - S E C T I O N
#################################################
*/
#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}
.picture{
    display: flex;
}
#rachel{
    width: 575px;
    height: 400px;
    border-radius: 70px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    margin-bottom: 20px;
    font-size: 2rem;
}
/*
#################################################
N E W - R E L E A S E S
#################################################
*/
#new-releases{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
#book1{
    width: 360px;
    height: 240px;
}
/*
#################################################
C O N T A C T - S E C T I O N - I N F O
#################################################
*/
/*
#################################################
F O O T E R - S E C T I O N 
#################################################
*/
#border-break{
    background-size: 500% 500%;
    opacity: 100;
    height: 3px;
    background: var(--rainbow-gradient);
    display: flex;
}
.fusion-footer {
    border-bottom: 0px;
    border-image-source: linear-gradient(to right, #726e65, #726e65, #c5bfae, #726e65, #726e65);
    border-image-slice: 20;
    border-top: 5px solid #726e65;
    border-left: 0px;
    border-right: 0px;
}
.fusion-footer-widget-area {
    background-color: #2c3339;
    border-color: #2c3339;
    border-top-width: 12px;
    padding-top: 60px;
    padding-bottom: 55px;
  }
.fusion-footer-widget-area {
    overflow: hidden;
    position: relative;
    padding: 43px 10px 40px;
    border-top: 12px solid #e9eaee;
    border-top-color: rgb(233, 234, 238);
    border-top-width: 12px;
    background: #363839;
    background-color: rgb(54, 56, 57);
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 1.69;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: #726d63;
  }
  .fusion-row {
    margin: 0 auto;
    zoom: 1;
  }
